backend/.venv/*
backend/sports.db
backend/__pycache__/*

frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*
frontend/pnpm-lock.yaml

frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local
