services:
  backend:
    build: ./backend
    container_name: sportradar-backend
    ports:
      - "5000:5000"
    networks:
        - app-network

  frontend:
    build: ./frontend
    container_name: sportradar-frontend
    ports:
      - "80:80"
    networks:
      - "app-network"

networks:
  app-network:
