.filter-container{
    position: relative;
    left: 40px;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
}

.filter-container:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.filter-input-container {
    position: absolute;
    top: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    height: 40px;
    z-index: 100;
}

.filter-button {
    border-radius: 10px;
    font-weight: 800;
    background-color: var(--accent);
    border: none;
    cursor: pointer;
    transition: background-color 0.5s;
}

.filter-button:hover {
    background-color: var(--accent-2);
}
